.alert-container {
    position: fixed;
    left: 50%;
    top: 50%;
    color: white;
    z-index: 9999;
    transform: translate(-50%,-50%);
    background: #f1eee7;
    padding: 20px;
    border: 5px solid #6362611a;
}

.alert-container p {
    padding: 10px;
    margin: 10px;
}

.alert-meat > img {
    height: 70px;
  }
  .alert-meat {
    display: grid;
    grid-template-columns: 100px auto;
  }
  .alert-meat > p {
    color: black;
    font-size: 12pt;
    margin: auto;
  }