
.og-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  width: 700px;
  max-height: 600px;
  padding: 30px;
  z-index: 99;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: 0 0 3px 0 white;
}
.og-form-selector {
  position: absolute;
  right: -20px;
  width: auto;
  transform: translate(100%,0);
  z-index: 5;
  background: white;
  padding: 30px;
  display: grid;
  gap: 5px;
  top: 0;
}

.og-form-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
}
.og-form-body label {
  text-align: right;
  line-height: 50px;
  height: 50px;
  font-size: 11pt;
}
.og-form-body input {
  background: #f1eee8;
  padding: 0 5px;
  font-size: 11pt;
  height: 50px;
  line-height: 50px;
}
.object-selector-background {
  z-index: 98;
  width: 100%;
  position: fixed;
  height: 100%;
  /*! background: #00000061; */
  top: 0;
  left: 0;
}

.object-selector-window {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  height: 360px;
  width: 400px;
  overflow-y: auto;
  transform: translate(-50%,-50%);
  z-index: 99;
  border-radius: 5px;
  overflow-x: hidden;
  box-shadow: 0 0 4px 3px #c4c4c4;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.object-selector-window input {
  width: calc(100% - 20px);
  padding: 5px 10px;
  font-size: 9pt;
  height: 30px;
  background: #f1eee8;
  position: sticky;
  top: 0;
}
.object-selector-window button {
  text-align: left;
  background: none;
  color: black;
  height: 50px;
  line-height: 50px;
  width: 100%;
  padding: 0 15px;
}
.object-selector-window button:hover {
  background: #f1eee8;
  color: #3f3f3f;
}
.object-selector {
  font-size: 10pt;
  position: relative;
  border: 1px solid #3f3f3f;
  height: 50px;
  color: #3f3f3f;
}
.object-selector-name-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  height: 25px;
  width: 98%;
  line-height: 25px;
}
.og-form-settings-buttons {
  font-size: 9pt;
  position: absolute;
  top: 5px;
  right: 5px;
}

.og-form-title {
  width: 100%;
  text-align: center;
  color: #555;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 25px 0;
  border-radius: 5px;
  font-size: 20pt;
  text-align: left;
}
.og-form>button {
  width: 100%;
  font-size: 9pt;
  margin: 25px auto 25px auto;
  color: red;
  display: block;
  border: 1px solid red;
  height: 50px;
  line-height: 50px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 9999;
}

.og-attribute-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  background: white;
  width: 600px;
}
.og-attribute-form-select-type-buttons button {
  width: 50%;
  height: 30px;
}

.og-attribute-form>button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: gainsboro;
}

.og-attribute-form-inputs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  margin: 10px 0;
}
.og-attribute-form-inputs label {
  height: 30px;
  line-height: 30px;
  text-align: right;
  font-size: 9pt;
}
.og-attribute-form-inputs input {
  height: 30px;
  line-height: 30px;
  font-size: 9pt;
  background: #bdcbbd;
}

.og-add-class-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 30px;
  background: white;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 3px gainsboro;
}
.og-add-class-inputs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 9pt;
  gap: 10px;
  margin: 10px 0;
}
.og-add-class-inputs input {
  background: #f1eee8;
  padding: 0 5px;
  font-size: 11pt;
  height: 50px;
  line-height: 50px;
}
.og-add-class-inputs label {
  text-align: right;
  line-height: 50px;
  height: 50px;
  font-size: 11pt;
}
.og-add-class-form button {
  width: 100%;
  font-size: 9pt;
  margin: 25px auto 0 auto;
  color: red;
  display: block;
  border: 1px solid red;
  height: 50px;
  line-height: 50px;
}

.ws-entity-form-params > label {
  height: 50px;
  line-height: 50px;
  font-size: 11pt;
  color: #454545;
}
.object-selector-name-placeholder > p {
  padding: 0 0 0 10px;
}

.lang-input-container {
  border: 1px solid #3f3f3f;
  height: 50px;
  color: #3f3f3f;
  position: relative;
  width: 100%;
}
.lang-input-container > button {
  color: white;
  position: absolute;
  top: -10px;
  left: -10px;
  height: 20px;
  width: 20px;
  font-size: 9px;
  background: red;
  border-radius: 50px;
  line-height: 16px;
  opacity: 0.9;
}

.lang-input-input-container > input {
  width: 90px;
  font-size: 9pt !important;
}
.lang-input-input-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: 200px;
  gap: 0;
  float: inline-start;
}
.lang-input-input-container select {
  width: 50px;
}
.lang-input-input-delete {
  width: 50px;
  height: 50px;
  background: #ff00005c;
}

.lang-input-container > div {
  width: 100%;
  overflow-x: auto;
  height: 50px;
  /*! white-space: nowrap; */
  /*! overflow-y: hidden; */
}

.drag {
  height: 100px;
  background: gainsboro;
}

.og-object-container-params textarea {
  background: #f1eee8;
  padding: 10px;
  font-size: 9pt;
  width: calc(100% - 20px);
  resize: vertical;
}