
.hr-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #252854;
  box-shadow: 0 3px 0 #9b9b9b;
  font-size: 10pt;
  margin-bottom: 3px;
  color: white;
  z-index: 10;
}
.hr-links a {
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
  color: white;
}
.hr-links a:hover {
  color: white;
  background: #15161b6e;
}
.hr-login {
  float: right;
}
.hr-links {
  float: left;
}
.hr-login>* {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  display: block;
  float: left;
  color: white;
}
.hr-login > *:hover {
  color: white;
  background: #15161b6e;
  cursor: pointer;
}
.hr-login p {
  cursor: unset;
}
.hr-login p:hover {
  background: #15161b6e;
}

.login-form form {
  display: grid;
  width: calc(100% - 30px);
  padding: 0 15px 45px 15px;
  gap: 0px;
}
.login-form form input {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border: 1px solid black;
}
.login-form form label {
  line-height: 30px;
  text-align: left;
  font-size: 11pt;
  margin-top: 10px;
}

.login-form form a {
  display: block;
  line-height: 30px;
  height: 30px;
  background: gainsboro;
  text-align: center;
}

.auth-window-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  border-radius: 5px;
  background: white;
  z-index: 5;
}
.auth-nav-buttons-container {
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 90px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 16pt;
  overflow: hidden;
}
.login-form  button {
  border: 1px solid #E31219;
  background: none;
  padding: 15px 0;
  color: #453131;
  margin-top: 20px;
}

.auth-nav-buttons-container > button {
  color: #625f58;
  background: #f1eee8;
}
.auth-mode-selected {
  color: black !important;
  background: white !important;
}
.m-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3131318c;
}

.header-not-auth {
  height: max-content;
  width: max-content;
  margin: auto 0 auto auto;
  display: grid;
  gap: 20px;
  font-size: 10pt;
}