
.ontology {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100%;
}
.og-left {
  background: white;
  height: auto;
  overflow: auto;
}
.og-class-block {
  width: 100%;
  font-size: 12pt;
}
.og-class-subblock {
  margin-left: 20px;
  border-left: 1px solid black;
  padding-left: 10px;
}
.og-class-title:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.og-class-title {
  padding: 10px 0;
  height: 30px;
  line-height: 30px;
  font-size: 10pt;
}

.og-class-name {
  text-align: center;
  font-size: 12pt;
  background: black;
  color: white;
  padding: 10px 0;
}
.og-class-info-title {
  background: gainsboro;
  padding: 10px 0;
  text-align: center;
  display: block;
  width: 100%;
}
.og-class-object:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.og-class-info-params {
  display: grid;
  grid-template-columns: 20px 20px 2fr 5fr;
  gap: 5px;
}
.og-class-info-params label {
  font-size: 12pt;
  text-align: right;
}

.og-class-info-params p {
  width: 500px;
}

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  background: #dcdcdcd4;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.og-object-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 700px;
  background: white;
  z-index: 10;
}
.og-object-container-title {
  background: black;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.og-object-container-params {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5px;
}
.og-object-container-params label {
  text-align: right;
  height: 30px;
  line-height: 30px;
  font-size: 8pt;
  width: 260px;
}
.og-object-container-params input {
  border: 1px solid;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 9pt;
}
.og-object-container-save {
  height: 30px;
  line-height: 30px;
  background: black;
  color: white;
  text-align: center;
  width: 100%;
}

.og-class-add-field input {
height: 25px;
padding: 5px;
}
.og-class-add-field {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}
.og-class-add-field button {
color: white;
background: black;
}
.rl-control-pannel {
  position: sticky;
  top: 0;
  height: 30px;
  line-height: 30px;
  background: white;
  margin-bottom: 10px;
}
.rl-control-pannel button {
  float: left;
  height: 30px;
  padding: 0 10px;
}
.og-object-container-separator {
  height: 30px;
  line-height: 30px;
  background: gainsboro;
  text-align: center;
}
#open {
  float: left;
  display: block;
  font-size: 9pt;
  margin: 0 10px;
  height: 30px;
}
.og-class-title p {
  float: left;
}
.og-object-container-params p {
  font-size: 9pt;
  line-height: 30px;
}
.og-object-container-params p:hover {
  cursor: pointer;
  background: black;
  color: white;
}